In [11]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
import pickle

In [12]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [13]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [14]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [ ]:
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [16]:
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [17]:
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [18]:
#  Split the data in training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [19]:
# Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [20]:
# Save the enocders and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regression Problem Statement

In [21]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [22]:
# Build Our ANN model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)), # HL1 connected with input layer
    Dense(32, activation='relu'), # HL2
    Dense(1) # Output layer for regression default activation is linear
]
)

# Compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

WARNING:tensorflow:From f:\MachineLearning\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From f:\MachineLearning\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [23]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime
# Set up the Tensorboard

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [24]:
# Set up early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [25]:
# Train the model
history = model.fit(
    X_train, y_train, validation_data =(X_test, y_test), epochs=100,
    callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From f:\MachineLearning\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From f:\MachineLearning\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 7ms/step - loss: 100384.9531 - mae: 100384.9531 - val_loss: 98542.8047 - val_mae: 98542.8047
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 99712.2969 - mae: 99712.2969 - val_loss: 97178.9844 - val_mae: 97178.9844
Epoch 3/100
250/250 [==============================] - 1s 6ms/step - loss: 97311.0234 - mae: 97311.0234 - val_loss: 93659.5859 - val_mae: 93659.5859
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 92574.0938 - mae: 92574.0938 - val_loss: 87766.1250 - val_mae: 87766.1250
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 85587.3047 - mae: 85587.3047 - val_loss: 80043.1484 - val_mae: 80043.1484
Epoch 6/100
250/250 [==============================] - 2s 7ms/step - loss: 77225.5781 - mae: 77225.5781 - val_loss: 71595.3906 - val_mae: 71595.3906
Epoch 7/100
250/250 [==============================] - 3s 11ms/step - loss: 68728.9531 - mae: 68728.9531 - val_loss: 63853.2148 - val_mae: 63853.2148
Epoch 8/100
250/250 [==============================] - 2s 7ms/step - loss: 61444.8008 - mae: 61444.8008 - val_loss: 57842.3711 - val_mae: 57842.3711
Epoch 9/100
250/250 [==============================] - 2s 6ms/step - loss: 56160.0625 - mae: 56160.0625 - val_loss: 53885.5234 - val_mae: 53885.5234
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 52876.3086 - mae: 52876.3086 - val_loss: 51777.9531 - val_mae: 51777.9531
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 51214.6562 - mae: 51214.6562 - val_loss: 50933.1328 - val_mae: 50933.1328
Epoch 12/100
250/250 [==============================] - 1s 5ms/step - loss: 50512.5977 - mae: 50512.5977 - val_loss: 50657.2969 - val_mae: 50657.2969
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 50231.7227 - mae: 50231.7227 - val_loss: 50561.4844 - val_mae: 50561.4844
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50120.2031 - mae: 50120.2031 - val_loss: 50531.5156 - val_mae: 50531.5156
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50059.7227 - mae: 50059.7227 - val_loss: 50519.1953 - val_mae: 50519.1953
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 50015.1914 - mae: 50015.1914 - val_loss: 50507.5078 - val_mae: 50507.5078
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 49978.3398 - mae: 49978.3398 - val_loss: 50498.1289 - val_mae: 50498.1289
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 49946.4688 - mae: 49946.4688 - val_loss: 50493.4844 - val_mae: 50493.4844
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 49920.1445 - mae: 49920.1445 - val_loss: 50484.4531 - val_mae: 50484.4531
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 49894.8984 - mae: 49894.8984 - val_loss: 50480.1211 - val_mae: 50480.1211
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 49871.1133 - mae: 49871.1133 - val_loss: 50474.6953 - val_mae: 50474.6953
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 49850.9375 - mae: 49850.9375 - val_loss: 50461.5547 - val_mae: 50461.5547
Epoch 23/100
250/250 [==============================] - 2s 7ms/step - loss: 49832.3594 - mae: 49832.3594 - val_loss: 50440.5547 - val_mae: 50440.5547
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 49815.7930 - mae: 49815.7930 - val_loss: 50431.0352 - val_mae: 50431.0352
Epoch 25/100
250/250 [==============================] - 3s 13ms/step - loss: 49794.8750 - mae: 49794.8750 - val_loss: 50427.2969 - val_mae: 50427.2969
Epoch 26/100
250/250 [==============================] - 1s 6ms/step - loss: 49780.5898 - mae: 49780.5898 - val_loss: 50418.9062 - val_mae: 50418.9062
Epoch 27/100
250/250 [==============================] - 2s 8ms/step - loss: 49765.4297 - mae: 49765.4297 - val_loss: 50412.9023 - val_mae: 50412.9023
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49751.0664 - mae: 49751.0664 - val_loss: 50402.6484 - val_mae: 50402.6484
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 49734.9336 - mae: 49734.9336 - val_loss: 50402.0547 - val_mae: 50402.0547
Epoch 30/100
250/250 [==============================] - 1s 5ms/step - loss: 49720.2109 - mae: 49720.2109 - val_loss: 50389.8867 - val_mae: 50389.8867
Epoch 31/100
250/250 [==============================] - 1s 5ms/step - loss: 49705.9922 - mae: 49705.9922 - val_loss: 50383.1172 - val_mae: 50383.1172
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49695.5977 - mae: 49695.5977 - val_loss: 50375.2930 - val_mae: 50375.2930
Epoch 33/100
250/250 [==============================] - 1s 5ms/step - loss: 49685.1094 - mae: 49685.1094 - val_loss: 50378.8281 - val_mae: 50378.8281
Epoch 34/100
250/250 [==============================] - 1s 6ms/step - loss: 49668.7383 - mae: 49668.7383 - val_loss: 50385.1836 - val_mae: 50385.1836
Epoch 35/100
250/250 [==============================] - 2s 10ms/step - loss: 49658.4766 - mae: 49658.4766 - val_loss: 50378.3516 - val_mae: 50378.3516
Epoch 36/100
250/250 [==============================] - 1s 5ms/step - loss: 49649.7773 - mae: 49649.7773 - val_loss: 50384.8633 - val_mae: 50384.8633
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 49636.0430 - mae: 49636.0430 - val_loss: 50391.5039 - val_mae: 50391.5039
Epoch 38/100
250/250 [==============================] - 1s 5ms/step - loss: 49628.0859 - mae: 49628.0859 - val_loss: 50377.7695 - val_mae: 50377.7695
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 49615.8672 - mae: 49615.8672 - val_loss: 50385.5039 - val_mae: 50385.5039
Epoch 40/100
250/250 [==============================] - 1s 5ms/step - loss: 49608.8633 - mae: 49608.8633 - val_loss: 50367.6328 - val_mae: 50367.6328
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49598.4922 - mae: 49598.4922 - val_loss: 50369.6445 - val_mae: 50369.6445
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 49590.0781 - mae: 49590.0781 - val_loss: 50360.8828 - val_mae: 50360.8828
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49583.6211 - mae: 49583.6211 - val_loss: 50361.1016 - val_mae: 50361.1016
Epoch 44/100
250/250 [==============================] - 1s 5ms/step - loss: 49577.1016 - mae: 49577.1016 - val_loss: 50353.9961 - val_mae: 50353.9961
Epoch 45/100
250/250 [==============================] - 2s 9ms/step - loss: 49567.8320 - mae: 49567.8320 - val_loss: 50354.5781 - val_mae: 50354.5781
Epoch 46/100
250/250 [==============================] - 1s 5ms/step - loss: 49558.2539 - mae: 49558.2539 - val_loss: 50351.3516 - val_mae: 50351.3516
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49555.1562 - mae: 49555.1562 - val_loss: 50357.2422 - val_mae: 50357.2422
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 49549.7266 - mae: 49549.7266 - val_loss: 50355.4102 - val_mae: 50355.4102
Epoch 49/100
250/250 [==============================] - 2s 7ms/step - loss: 49539.5898 - mae: 49539.5898 - val_loss: 50353.9375 - val_mae: 50353.9375
Epoch 50/100
250/250 [==============================] - 2s 7ms/step - loss: 49532.4844 - mae: 49532.4844 - val_loss: 50343.8242 - val_mae: 50343.8242
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 49526.1094 - mae: 49526.1094 - val_loss: 50346.8711 - val_mae: 50346.8711
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49523.6445 - mae: 49523.6445 - val_loss: 50354.3320 - val_mae: 50354.3320
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 49514.1523 - mae: 49514.1523 - val_loss: 50355.2578 - val_mae: 50355.2578
Epoch 54/100
250/250 [==============================] - 1s 5ms/step - loss: 49507.4492 - mae: 49507.4492 - val_loss: 50355.8047 - val_mae: 50355.8047
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 49503.9141 - mae: 49503.9141 - val_loss: 50363.3320 - val_mae: 50363.3320
Epoch 56/100
250/250 [==============================] - 2s 9ms/step - loss: 49497.0117 - mae: 49497.0117 - val_loss: 50359.0898 - val_mae: 50359.0898
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 49489.1641 - mae: 49489.1641 - val_loss: 50365.6055 - val_mae: 50365.6055
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 49488.5977 - mae: 49488.5977 - val_loss: 50357.3281 - val_mae: 50357.3281
Epoch 59/100
250/250 [==============================] - 1s 6ms/step - loss: 49480.7656 - mae: 49480.7656 - val_loss: 50366.0625 - val_mae: 50366.0625
Epoch 60/100
250/250 [==============================] - 3s 13ms/step - loss: 49476.9844 - mae: 49476.9844 - val_loss: 50363.9531 - val_mae: 50363.9531

In [26]:
# Load tensorboard extension
%load_ext tensorboard

In [29]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 21972), started 0:00:14 ago. (Use '!kill 21972' to kill it.)

In [30]:
# Evaluate the model on test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"Test Loss: {test_loss}, Test MAE: {test_mae}")

63/63 [==============================] - 0s 2ms/step - loss: 50343.8242 - mae: 50343.8242
Test Loss: 50343.82421875, Test MAE: 50343.82421875

In [31]:
model.save('regression_model.h5')

f:\MachineLearning\ANN CLASSIFICATION\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(